{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Detail Matkul</title>
</head>
    <body>
        {% load static %}
        <div class="fotobg"><img id="bg"src="{% static 'bg.jpg' %}" ></div>
        <div style= "width: 1100px; height: 700px;
        background-color: #F2C94C; padding-left:
        40px; padding-right: 40px;box-sizing: border-box;
        margin-left: auto;margin-right: auto; 
         position: relative; 
        bottom: 200px;padding-top: 40px;
        border-bottom: 3px solid #989898; 
        opacity: 95%; overflow:auto">
           <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:20px;">
            <p style="font-size: 40px;font-weight: bolder;">{{matkul.nama_matkul}}</p><br>
            <p style="font-size: 25px;font-weight: bolder;">Dosen Pengajar</p>
            {{matkul.dosen_pengajar}}<hr>
            <p style="font-size: 25px;font-weight: bolder;">Jumlah SKS</p>
            {{matkul.jumlah_sks}}<hr>
            <p style="font-size: 25px;font-weight: bolder;">Deskripsi</p>
            {{matkul.deskripsi}}<hr>
            <p style="font-size: 25px;font-weight: bolder;">Semester/Tahun</p>
            {{matkul.semester_tahun}}
            

            
            
           </div>
            
                   
            
        </div>
        <a href="{% url 'readmatkul' %}"><button class="button" style="background-color: #F2C94C;font-family: 'Courier New', Courier, monospace;
            font-size: 20px;margin-left: auto;margin-right: auto; bottom: 100px;
        font-weight: 300; position: relative; left: 600px;">Kembali ke List</button></a>   
        
    
    </body>
</html>