{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Form Matkul</title>
</head>
    <body>
        {% load static %}
        <div class="fotobg"><img id="bg"src="{% static 'bg.jpg' %}" ></div>
        <div style= "width: 1100px; height: 500px;
            background-color: #F2C94C; padding-left:
            50px; ;box-sizing: border-box;
            margin-left: auto;margin-right: auto; 
             position: relative; 
            bottom: 200px;padding-top: 40px;
            border-bottom: 3px solid #989898; opacity: 95%">
            
            <div style="font-family: Georgia, 'Times New Roman', Times, serif;">
                <b><p style="font-size: larger;font-family: Georgia, 'Times New Roman', Times, serif;">Tambahkan Jadwal</p></b>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <input type='submit' value='Submit'>

                </form>
           
            </div>
            
            </div>
              
        </div>
        <a href="{% url 'readmatkul' %}"><button class="button" style="background-color: #F2C94C;font-family: 'Courier New', Courier, monospace;
            font-size: 20px;margin-left: auto;margin-right: auto; bottom: 100px;
        font-weight: 300; position: relative; left: 600px;">Lihat List</button></a>
          
        
        

       
       
    </body>
</html>