{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>List Jadwal</title>
</head>
    <body>
        {% load static %}
        <div class="fotobg"><img id="bg"src="{% static 'bg.jpg' %}" ></div>
        <div style= "width: 1100px; height: 700px;
        background-color: #F2C94C; padding-left:
        40px; padding-right: 40px;box-sizing: border-box;
        margin-left: auto;margin-right: auto; 
         position: relative; 
        bottom: 200px;padding-top: 40px;
        border-bottom: 3px solid #989898; 
        opacity: 95%; overflow:auto">
           <div style="font-family: Georgia, 'Times New Roman', Times, serif; font-size:20px;">
            
            <table style="width:100%" border=1>
                <tr>
                    <th>Nama matkul</th>
                    <th>Dosen pengajar</th>
                    <th>SKS</th> 
                    <th>Deskripsi</th> 
                    <th>Semester/Tahun</th>
                    <th>Hapus</th> 

                </tr>
                {% if matkuls %}
                {% for matkul in matkuls %}
                    <tr>
                        <td><a href="{% url 'detailjadwal' id=matkul.id %}">{{matkul.nama_matkul}}</a></td>
                        <td>{{ matkul.dosen_pengajar }}</td>
                        <td>{{ matkul.jumlah_sks }}</td>
                        <td>{{ matkul.deskripsi }}</td>
                        <td>{{ matkul.semester_tahun }}</td>
                        <td><a href="{% url 'hapusjadwal' id=matkul.id %}"><button type="button" >Delete</button></a>
                    </tr>
                {% endfor %}
                {% endif %}
                </table>
            
            </div>
            
                   
            
        </div>
    <a href="{% url 'formku' %}"><button class="button" style="background-color: #F2C94C;font-family: 'Courier New', Courier, monospace;
        font-size: 20px;margin-left: auto;margin-right: auto;bottom: 100px;
    font-weight: 300; position: relative; left: 600px;">tambah matkul</button></a>    
        
    
    </body>
</html>