{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Story 1 PPW</title>
</head>
<body>
    <body>
        <center>
        <h1>HELLOOOO!!!</h2>
        <br>
        {% load static %}
        <img src="{% static 'gambarcontoh.jpg' %}" width="300px" height="300px" align="center">
        <br>
        </center>
        <h3>
        <p> Nama         : Garry Hanuga </p>
        <p> NPM          : 1906399184 </p>
        <p> Angkatan     : 2019</p>
        <p> Tempat Kuliah: Fakultas Ilmu Komputer, Universitas Indonesia</p>
        <p> Hobi: Main Game, Menulis Cerita, Bermain Gitar, Menggambar</p>
        <p> Deskripsi: Hidup sih maunya simple, cuma kadang ya gak bisa :)</p>
        <table style="width:100%" border=1>
            <tr>
                <td>SD :</td>
                <td>Taman Permata Indah</td>
            </tr>
            <tr>
                <td>SMP :</td>
                <td>SMP METHODIST JAKARTA</td>
            </tr>
            <tr>
                <td>SMA :</td>
                <td>SMA METHODIST JAKARTA</td>
            </tr>
        </table>
        <br>
        <p>Media Sosial: </p>
        <a href>https://www.instagram.com/invites/contact/?i=canz6o9pnq98&utm_content=116653m</a>
    </h3>
    </body>
</body>
</html>
