body {
    background-color: #f8f8f8;
    margin: 0px;
    padding-bottom: 20px;
}


.kontener  {width: 1100px; height: 400px;
            background-color: #F2C94C; padding-left:
            50px; ;box-sizing: border-box;
            margin-left: auto;margin-right: auto; 
             position: relative; 
            bottom: 200px;padding-top: 40px;
            border-bottom: 3px solid #989898 ;}

#foto {width: 390px;height: 397px;float: 
        right;margin-right: 0px;position: relative;
        bottom: 40px;}
#bg {width: 1380px ;height:255px;}

#p1 {font-size: 50px;font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    position: relative;bottom: 50px;}
#garry {font-size: 50px;font-family: 'Courier New', Courier, monospace;
    font-weight: bolder; color: #2F80ED;position: absolute;
    top: 35px;
}

#web {font-size: 40px;font-family: 'Courier New', Courier, monospace;
      font-weight: normal;font-style: italic;
      position: relative; bottom: 60px;  }

#data {font-size: 20px;font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; bottom: 90px; padding-left: 5px; }
    
.line {width: 1250px; height: 20px;
    background-color: #F2C94C;box-sizing: border-box;
    margin-left: auto;margin-right: auto; 
    margin-top: -170px;
   border-bottom: 3px solid #989898 ;}

.kontener2  {width: 1100px; height: 220px;
    background-color: #Ffffff; padding-left:
    50px; ;box-sizing: border-box;
    margin-left: auto;margin-right: auto; 
    margin-top: 50px;padding-top: 10px;
    border-bottom: 3px solid #989898 ;}

.tulisan2 {font-family: Georgia, 'Times New Roman', Times, serif;
           font-size: 15px;line-height: 5px; position: relative; left:150px }

#garis {position: relative; right:172px;bottom: 20px}

#ig {width: 180px; height: 120px; position: relative;left: 380px;
    bottom: 210px;}

#wa {width: 100px; height: 100px; position: relative;left: 240px;
        bottom: 350px;}

.button {background-color: #F2C94C;font-family: 'Courier New', Courier, monospace;
    font-size: 20px;margin-left: auto;margin-right: auto;
font-weight: 300; position: relative; left: 360px;}

#kembali {top:200px}
.kontenerbulat {background-color: #F2C94C;
    border:solid 5px #2F80ED;
    border-radius: 900px; width:900px; height: 900px;
    position: relative;bottom: 200px;margin-left: auto;margin-right: auto;
    opacity:96% ;}

#foto2 {width: 350px;height: 350px; 
    border:solid 2px white;
        border-radius: 350px; position: relative;
        margin-left: auto;margin-right: auto;
        top:30px;left: 270px; 
    }

#lebih {
       right: 100px}
 
#terimakasih {font-style: italic;}
#sampai {color: #2F80ED;font-size: 40px;}

.kontenerform  {width: 1100px; height: 500px;
    background-color: #F2C94C; padding-left:
    50px; ;box-sizing: border-box;
    margin-left: auto;margin-right: auto; 
     position: relative; 
    bottom: 200px;padding-top: 40px;
    border-bottom: 3px solid #989898 ;}


#tambah {left: 200px;}