{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>Garry's Story</title>
</head>
    <body>
        {% load static %}
        <div class="fotobg"><img id="bg"src="{% static 'bg.jpg' %}" ></div>
        <div class="kontener">
            <img id="foto"src="{% static 'gambarcontoh.jpg' %}" >
            <div id="tulisan">
        
                <p id="p1"> Halo,Saya </p>
                <p id="garry">Garry Hanuga</p>
                <p id="web">web programmer</p>
                <div id="data">
                    <p>No. Telp        : 081213482186</p>
                    <p>Umur            : 20 tahun</p>
                    <p>Alamat          : jl.Mazda</p>
                    <p>E-mail          : garrymamaen@gmail.com</p>
                </div>
                   
            </div>
            <a href="https://www.instagram.com/invites/contact/?i=canz6o9pnq98&utm_content=116653m"><img id="ig" src="{% static 'ig.png' %}"></img></a>
            <a href="https://www.instagram.com/invites/contact/?i=canz6o9pnq98&utm_content=116653m"><img id="wa" src="{% static 'wa.png' %}"></img></a>   
        </div>
        <div class="line">
            

        </div>

        <div class="kontener2">
            <div class="tulisan2">
                <center>
                <p>Hi, Saya Garry Hanuga!</p>
                <p >Sekarang saya bekerja sebagai web programmer di perusahaan PT.PPW dan dosen pengajar mata</p>
                <p>kuliah pemrograman dan perancangan web di Universitas Indonesia.</p>
                <p >Senang berkenalan dengan Anda!</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <hr id="garis">
                </center>
            </div>
            <a href="{% url 'index2' %}"><button class="button"  style="background-color: #F2C94C;font-family: 'Courier New', Courier, monospace;
                font-size: 20px;margin-left: auto;margin-right: auto;
            font-weight: 300; position: relative; right: 400px;">Lebih Tentang Saya</button></a>
            <a href="{% url 'formku' %}"><button class="button" style="background-color: #F2C94C;font-family: 'Courier New', Courier, monospace;
                font-size: 20px;margin-left: auto;margin-right: auto;
            font-weight: 300; position: relative; left: 400px;">tambah matkul</button></a>   
        
        </div>

       
       
    </body>
</html>
