{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>More About Me</title>
</head>
    <body>
        {% load static %}
        <div class="fotobg"><img id="bg"src="{% static 'bg.jpg' %}" ></div>
        <div class="kontenerbulat">
            <img id="foto2"src="{% static 'gambarcontoh.jpg' %}" >
            <div id="lebih">
                <center>
                <p>Hi, Saya Garry Hanuga!</p>
                <p >Saya adalah anak pertama dari 4 bersaudara</p>
                <p>Di Keluarga saya, saya adalah anak yang paling ceria</p>
                <p >Meskipun demikian, saya tidak terlalu suka keramaian yang berlebihan</p>
                <p >Selain hobi design web, saya juga hobi bermain alat musik</p>
                <p>Saya dapat bermain gitar dan bass</p>
                <p>Saya juga kadang suka menggambar tokoh-tokoh ternama</p>
                <p>Bahkan, saya gemar menulis cerita pendek, entah fiksi atau berdasarkan kisah nyata</p>
                <p>Cita-cita saya adalah menjadi manager atau CEO start-up di bidang IT</p>
                <br>
                <br>
                <br>
                <br>
                <p id="terimakasih">Terima kasih telah berkunjung, </p>
                <br>
                <p id="sampai">Sampai Jumpa Lagi!</p>
               
                </center>
            </div>
            <br>
            <br>
            <a href="{% url 'index' %}"><button class="button" id="kembali">Halaman Utama</button></a>
        
        </div>
    </body>
</html>
